In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

def sector_data(sector_page_link):
    response = requests.get(sector_page_link)
    results_page = BeautifulSoup(response.content, 'lxml')
    
    sector_change = results_page.find('div', class_='tab-content-wrapper').find_all('span')[1].get_text()
    sector_market_cap = results_page.find('div', class_='tab-content-wrapper').find_all('span')[3].get_text()
    sector_market_weight = results_page.find('div', class_='tab-content-wrapper').find_all('span')[5].get_text()
    
    return sector_change, sector_market_cap, sector_market_weight

def sector_performance():
    stats_list = list()
    sector_list = list()
    measure_list = list()

    url = "https://eresearch.fidelity.com/eresearch/goto/markets_sectors/landing.jhtml"

    results_page = requests.get(url)
    soup = BeautifulSoup(results_page.content, 'lxml')
    all_performance = soup.find_all('a', class_='heading1')

    for sectors in all_performance:
        name = sectors.find('strong').get_text()
        link = "https://eresearch.fidelity.com" + sectors.get('href')
        change, mktcap, mktwgt = sector_data(link)
        stats_list.append((change, mktcap, mktwgt))
        sector_list.append(name)

    measure_list = 'Sector_Change', 'Market_Capital', 'Market_Weight'
    sector_table = pd.DataFrame(stats_list, index = sector_list, columns = measure_list)
    
    return sector_table

# Sector performance from Fidelity
sector_performance()

                       Sector_Change Market_Capital Market_Weight
Communication Services        +0.07%         $4.46T         9.80%
Consumer Discretionary        -0.32%         $4.73T         9.73%
Consumer Staples              +0.20%         $3.41T         7.50%
Energy                        +0.72%         $3.47T         5.51%
Financials                    -0.72%         $7.16T        13.82%
Health Care                   +0.60%         $5.66T        15.61%
Industrials                   -0.03%         $3.89T         9.51%
Information Technology        -0.86%         $6.85T        19.70%
Materials                     +0.58%         $1.76T         2.67%
Real Estate                   +0.29%         $1.20T         2.95%
Utilities                     -0.18%         $1.21T         3.20%

In [1]:
stock = input('Enter a stock ticker: ').upper()

Enter a stock ticker: jd

In [2]:
def get_sector():
    import requests
    from bs4 import BeautifulSoup
    url = 'https://finance.yahoo.com/quote/' + stock + '/profile?p=' + stock

    response = requests.get(url)
    results_page = BeautifulSoup(response.content, 'lxml')
    profile = results_page.find('div', class_='asset-profile-container')
    sector = profile.find_all('strong')[0].get_text()
    industry = profile.find_all('strong')[1].get_text()

    return sector, industry
# sector and industry from Yahoo Finance
get_sector()

('Consumer Cyclical', 'Specialty Retail')

In [3]:
def get_competitors(stock):
    import requests
    from bs4 import BeautifulSoup
    url = 'https://www.nasdaq.com/symbol/' + stock + '/stock-comparison'

    response = requests.get(url)
    results_page = BeautifulSoup(response.content, 'lxml')
    table = results_page.find('div', class_='genTable thin')
    competitors = list()
    for i in range(4):
        competitors.append(table.find_all('input')[i].get('value'))
    
    return competitors
# competitors from nasdaq
get_competitors(stock)

['ORLY', 'AZO', 'ULTA', 'IAC']

In [13]:
def get_financial_stats(ticker):
    import requests
    from bs4 import BeautifulSoup
    url = "https://finance.yahoo.com/quote/" + ticker + "/key-statistics?p=" + ticker
    
    response = requests.get(url)
    results_page = BeautifulSoup(response.content,'lxml')
    stats_lists = results_page.find_all('table')
    test_list = list()
    for i in stats_lists:
        stat_name = i.find_all('span')
        stock_stat = i.find_all('td',class_='Fz(s) Fw(500) Ta(end)')
        for j in range(len(stock_stat)):
            if not stat_name[j].get_text() == 'N/A':
                test_list.append((stat_name[j].get_text(),stock_stat[j].get_text()))
    return test_list

In [65]:
def get_row(ticker,measure_list):
    from pandas_datareader import data as web
    a = get_financial_stats(ticker)
    row = list()
    row.append(web.DataReader(ticker,"yahoo").iloc[-1,3])
    for i in measure_list:
        if not i == "Price":
            appended = 0
            for j in a:
                if j[0] == i:
                    row.append(j[1])
                    appended = 1
            if appended == 0:
                row.append('N/A')   
    return row

In [19]:
def comp_stat_table(stock):
    import pandas as pd
    measure_list = ['Price','Market Cap (intraday)','Diluted EPS','Book Value Per Share','Quarterly Revenue Growth','Quarterly Earnings Growth','Trailing Annual Dividend Yield','5 Year Average Dividend Yield','Payout Ratio','Trailing P/E','PEG Ratio (5 yr expected)','Beta (3Y Monthly)']
    r = get_competitors(stock)
    r.insert(0, stock)
    
    s_row = get_row(stock,measure_list)
    a_row = get_row(r[1],measure_list)
    b_row = get_row(r[2],measure_list)
    c_row = get_row(r[3],measure_list)
    d_row = get_row(r[4],measure_list)

    stats_list = [s_row,a_row,b_row,c_row,d_row]
    final_table = pd.DataFrame(stats_list,index = r,columns = measure_list)
    return final_table
comp_stat_table(stock)

,Price,Market Cap (intraday),Diluted EPS,Book Value Per Share,Quarterly Revenue Growth,Quarterly Earnings Growth,Trailing Annual Dividend Yield,5 Year Average Dividend Yield,Payout Ratio,Trailing P/E,PEG Ratio (5 yr expected),Beta (3Y Monthly)
JD,21.230000,30.72B,-0.06,6.12,31.20%,N/A,N/A,N/A,N/A,N/A,0.49,1.38
ORLY,346.779999,27.78B,15.89,6.20,6.10%,29.00%,N/A,1/2,N/A,21.83,1.29,1.21
AZO,809.070007,20.68B,48.77,N/A,1.30%,-7.70%,N/A,1/2,N/A,16.59,1.32,1.06
ULTA,297.790009,17.8B,10.25,N/A,15.40%,29.90%,"May 15, 2012",N/A,N/A,29.06,1.35,0.85
IAC,177.960007,14.86B,4.96,31.15,33.30%,-18.90%,0.00%,"Dec 1, 2015",2/1,35.86,1.82,1.58

In [69]:
import datetime
import dateutil.relativedelta
import numpy as np
import pandas_datareader.data as web

stocks = stock, get_competitors(stock)
five_years_ago = (datetime.date.today() - dateutil.relativedelta.relativedelta(years=5)).strftime('%Y-%m-%d')
today = datetime.date.today().strftime('%Y-%m-%d')


# df = web.DataReader(np.hstack(stocks),'yahoo',five_years_ago,today)['Adj Close']
df = web.get_data_yahoo(np.hstack(stocks),five_years_ago,today)['Adj Close']
df

Symbols            AZO         IAC         JD        ORLY        ULTA
Date
2013-12-02  459.619995   54.997612        NaN  124.570000  126.930000
2013-12-03  460.510010   54.939850        NaN  124.360001  125.010002
2013-12-04  456.019989   54.670250        NaN  121.080002  123.480003
2013-12-05  460.000000   53.977001        NaN  120.959999  118.000000
2013-12-06  459.600006   54.169567        NaN  125.000000   93.760002
2013-12-09  457.339996   55.498295        NaN  123.860001   90.209999
2013-12-10  471.859985   57.106239        NaN  125.019997   94.389999
2013-12-11  467.790009   56.692219        NaN  124.860001   93.209999
2013-12-12  465.899994   56.268566        NaN  124.919998   91.239998
2013-12-13  465.179993   57.626171        NaN  126.470001   91.959999
2013-12-16  464.000000   58.088341        NaN  127.940002   91.180000
2013-12-17  461.760010   56.855904        NaN  127.339996   91.629997
2013-12-18  470.559998   57.857265        NaN  129.529999   93.639999
2013-12-19  470.839996   65.945129        NaN  129.139999   93.440002
2013-12-20  473.190002   64.654922        NaN  128.759995   95.190002
2013-12-23  472.320007   66.205124        NaN  128.250000   93.360001
2013-12-24  475.570007   65.213394        NaN  129.210007   94.419998
2013-12-26  476.850006   64.991936        NaN  129.639999   94.809998
2013-12-27  476.829987   65.309662        NaN  128.869995   93.529999
2013-12-30  479.329987   65.916260        NaN  128.460007   94.370003
2013-12-31  477.940002   66.099197        NaN  128.710007   96.519997
2014-01-02  474.109985   65.405952        NaN  128.759995   95.910004
2014-01-03  475.500000   65.877739        NaN  129.039993   94.919998
2014-01-06  478.769989   66.638397        NaN  129.520004   92.910004
2014-01-07  483.589996   68.063408        NaN  133.009995   94.459999
2014-01-08  489.070007   67.716774        NaN  132.580002   94.169998
2014-01-09  492.450012   67.033165        NaN  132.490005   92.290001
2014-01-10  490.000000   66.898354        NaN  132.990005   92.330002
2014-01-13  486.380005   66.397682        NaN  130.220001   88.889999
2014-01-14  495.779999   69.343964        NaN  132.600006   88.760002
...                ...         ...        ...         ...         ...
2018-10-19  725.799988  195.639999  23.010000  339.869995  270.779999
2018-10-22  736.280029  198.880005  23.540001  344.820007  274.609985
2018-10-23  734.340027  197.970001  23.230000  340.329987  272.049988
2018-10-24  728.219971  189.250000  21.760000  322.829987  267.029999
2018-10-25  740.000000  193.410004  22.559999  324.549988  272.239990
2018-10-26  743.570007  188.020004  22.580000  326.079987  274.890015
2018-10-29  747.049988  188.460007  21.980000  329.179993  278.500000
2018-10-30  747.400024  193.279999  22.379999  330.470001  266.989990
2018-10-31  733.469971  196.589996  23.520000  320.750000  274.519989
2018-11-01  745.869995  201.860001  25.450001  320.609985  272.950012
2018-11-02  760.489990  198.750000  24.049999  325.230011  281.950012
2018-11-05  766.349976  197.009995  24.150000  327.269989  285.130005
2018-11-06  781.020020  197.070007  23.600000  333.540009  291.790009
2018-11-07  790.500000  185.210007  24.070000  342.130005  290.510010
2018-11-08  798.940002  186.309998  22.400000  353.440002  304.489990
2018-11-09  793.869995  186.550003  21.700001  354.739990  308.119995
2018-11-12  792.599976  179.940002  22.010000  349.410004  308.989990
2018-11-13  813.479980  185.490005  22.389999  357.519989  314.250000
2018-11-14  823.299988  180.710007  22.760000  354.779999  313.130005
2018-11-15  810.039978  185.490005  24.200001  346.000000  311.809998
2018-11-16  827.989990  182.690002  23.049999  352.600006  313.559998
2018-11-19  829.349976  167.309998  21.110001  354.239990  313.279999
2018-11-20  793.109985  168.240005  19.490000  336.070007  302.140015
2018-11-21  819.210022  174.490005  20.340000  345.579987  303.760010
2018-11-23  827.530029  174.130005  19.270000  350.630005  303.320007
2018-11-26  820.000000  175.479996  20.459999  350.989990  301.109985
2018-11-27  835.229980  171.169998  20.840000  353.079987  296.829987
2018-11-28  833.700012  176.770004  21.379999  358.869995  295.140015
2018-11-29  825.830017  180.279999  20.969999  354.850006  300.369995
2018-11-30  809.070007  177.960007  21.230000  346.779999  297.790009

[1260 rows x 5 columns]

In [10]:
# def get_stats(ticker):
#     url = 'https://finance.yahoo.com/quote/' + ticker + '/history?p=' + ticker

#     response = requests.get(url)
#     results_page = BeautifulSoup(response.content,'lxml')
#     price = results_page.find('div').find_all('td')[5].get_text()

#     url = 'https://finance.yahoo.com/quote/' + ticker + '/key-statistics?p=' + ticker

#     response = requests.get(url)
#     results_page = BeautifulSoup(response.content,'lxml')
#     stats = results_page.find_all('table')
#     test_list = list()
#     for i in stats:
#         stat_name = i.find_all('span')
#         stock_stat = i.find_all('td', class_='Fz(s) Fw(500) Ta(end)')
#         for j in range(len(stat_name)):
#             if not stat_name[j].get_text() == 'N/A':
#                 test_list.append((stat_name[j].get_text(), stock_stat[j].get_text()))
#     test_list.insert(0, ('Price', price))
#     return test_list
# get_stats(stock)

[('Price', '179.55'),
 ('Market Cap (intraday)', '852.04B'),
 ('Enterprise Value', '865.77B'),
 ('Trailing P/E', '15.08'),
 ('Forward P/E', '12.11'),
 ('PEG Ratio (5 yr expected)', '1.03'),
 ('Price/Sales', '3.21'),
 ('Price/Book', '7.97'),
 ('Enterprise Value/Revenue', '3.26'),
 ('Enterprise Value/EBITDA', '10.58'),
 ('Fiscal Year Ends', 'Sep 29, 2018'),
 ('Most Recent Quarter', 'Sep 29, 2018'),
 ('Profit Margin', '22.41%'),
 ('Operating Margin', '26.69%'),
 ('Return on Assets', '11.96%'),
 ('Return on Equity', '49.36%'),
 ('Revenue', '265.59B'),
 ('Revenue Per Share', '53.60'),
 ('Quarterly Revenue Growth', '19.60%'),
 ('Gross Profit', '101.84B'),
 ('EBITDA', '81.8B'),
 ('Net Income Avi to Common', '59.53B'),
 ('Diluted EPS', '11.91'),
 ('Quarterly Earnings Growth', '31.80%'),
 ('Total Cash', '66.3B'),
 ('Total Cash Per Share', '13.97'),
 ('Total Debt', '114.48B'),
 ('Total Debt/Equity', '106.85'),
 ('Current Ratio', '1.12'),
 ('Book Value Per Share', '22.53'),
 ('Operating Cash Flow', '77.43B'),
 ('Levered Free Cash Flow', '48.42B'),
 ('Beta (3Y Monthly)', '1.21'),
 ('52-Week Change', '5.29%'),
 ('S&P500 52-Week Change', '3.63%'),
 ('52 Week High', '233.47'),
 ('52 Week Low', '150.24'),
 ('50-Day Moving Average', '204.16'),
 ('200-Day Moving Average', '203.31'),
 ('Avg Vol (3 month)', '38.56M'),
 ('Avg Vol (10 day)', '42.41M'),
 ('Shares Outstanding', '4.75B'),
 ('Float', '4.49B'),
 ('% Held by Insiders', '0.07%'),
 ('% Held by Institutions', '61.15%'),
 ('Shares Short (Oct 31, 2018)', '36.47M'),
 ('Short Ratio (Oct 31, 2018)', '1.06'),
 ('Short % of Float (Oct 31, 2018)', '0.72%'),
 ('Short % of Shares Outstanding (Oct 31, 2018)', '0.77%'),
 ('Shares Short (prior month Sep 28, 2018)', '40.2M'),
 ('Forward Annual Dividend Rate', '2.92'),
 ('Forward Annual Dividend Yield', '1.69%'),
 ('Trailing Annual Dividend Rate', '2.72'),
 ('Trailing Annual Dividend Yield', '1.50%'),
 ('5 Year Average Dividend Yield', '1.73'),
 ('Payout Ratio', '22.84%'),
 ('Dividend Date', 'Nov 15, 2018'),
 ('Ex-Dividend Date', 'Nov 8, 2018'),
 ('Last Split Factor (new per old)', '1/7'),
 ('Last Split Date', 'Jun 9, 2014')]